*{
    margin:0;
    padding:0;
    font-family: arial,sans-serif;
}

body{
    display: grid;
    grid-template-columns: auto 4fr;
    column-gap:0px;
    justify-content: left;
    /* z-index: 0; */
}

#tables, #menu{
   background-color: rgb(17, 233, 161); 
} 

#tables{
   border-right: 1px solid white;
}

.table_list{
    
}

.menu_list{

}

#header{
  position: sticky;
  top:0;
  background-color: coral;
  margin:0px;
  padding:1px;
  color:white;
}


.table,.item{
    background-color: white;
    padding:15px;
    margin:10px;
    border-radius: 5px;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.3);
}

.item p{
    padding: 5px 2;
    margin-bottom: 35px;
}

h3,input{
    text-align : center;
    margin:10px;
}

h3{
    text-decoration: underline;
}

input{
    padding : 10px;
    border:none;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

input:focus-visible{
    outline:none;
}

#item_search{
    width:50%;
}

p{
    padding:15px 0px;
    font-size: 15px;
    color: rgb(156, 156, 156);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);    
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #888;
    width: 50%;
    border-radius:10px;
  
}

#modal-close {
    background-color: rgb(7, 56, 161);
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: right;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#modal-close button {
    background-color: white;
    padding: 0.5rem;
    border: none;
    color: #dc3545;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.change {
    background-color: white;
    box-shadow: none;
}
  
#modal-table-name {
    text-align: left;
    padding:10px;
}

#table-info-items{
    border:none;
}

.change {
    background-color: white;
    box-shadow: none;
}
#modal-footer {
    margin-top: 2px;
    text-align: center;
    padding:10px;
}
#generate-bill{
    text-align: right;
}
#generate-bill button {
    padding: 0.5rem;
    border: none;
    color: #dc3545;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #dc3545;
    cursor: pointer;
}
table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

td:first-child {
  width: 10%;
}
td:nth-child(3) {
  width: 20%;
}
td:last-child {
  width: 10%;
}

@media screen and (max-width: 700px) {
#table-info {
    font-size: 60%;
    width: 10%;
}

#table-box {
word-wrap: break-word;
max-width: 80%;
margin-top: 0.5rem;
padding: 0;
text-align: left;
border: 1px solid black;
}
table {
width: fit-content;
}

/* input[type="search"] {
padding: 0;
margin-top: 0;
max-width: 10%;
} */

.modal {
padding-top: 50px;
}
.modal-content {
margin: 0;
}

td:nth-child(3) {
width: 10%;
}

}






